<%= form_for [ @game, @comment ] do |f| %>
  <div class="text-area">
    <%= f.text_area :content %>
  </div>
  <div class="text-area">
    <%= f.submit "Add a comment", class: "button" %>
  </div>
<% end %>
