/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h2 {
/*  margin: 0;*/
 }
 .img-show {
  width: 200px;
  float: left;
  margin-right: 20px;
 }

 .img-thumb {
  width: 80px;
 }

body {
  background-color: #778899;
}

main {
  /*margin: 40px;*/
  padding: 25px;
  /*background: #3b5170;*/
}

.game-details {
  padding-top: 10px;
  border-top: thick double #073642;
  list-style-type: none;

}

.description {
  line-height: 125%;
}

.game-details li {
  display: inline;
  padding: 10px;
}

.game-details li:nth-child(2) {
  border-right: solid 2px #073642;
  border-left: solid 2px #073642;
}
