<ul class="sb-cat-list">
  <li id="cat-header" class="sb-cat">Categories:</li>
<% @categories_list.each do |category| %>
  <li class="sb-cat"><%= link_to category.name, category %></li>
<% end %>
</ul>
