<h1 class="login-header">Fantastic Categories!</h1>

<h2>Select a Category</h2>
<div>
  <ul id="categories-list">
    <% @categories.each do |category| %>
        <li><%= link_to category.name, category %></li><br>
    <% end %>
  </ul>
</div>
